# On branch master
# Untracked files:
#   (use "git add <file>..." to include in what will be committed)
#
#    .metadata/
#    gitignore
*~
*.o
*.a
*.so
*.obj
*.lib
*.dll
*.suo
*.ilk
*.exp
*.sdf
*.pdb
*.opensdf
*.vcxproj.user
Debug/
Release/
lua
luac
node-lua
node-lua.exe